<div class="col-md-7 col-xl-6 container">
    <form class=" form p-3 " #formValidation="ngForm" class="border p-4 m-4" (ngSubmit)="onSubmit()">
        <label for="nom" class="label">Nom de la chaussure</label>
        <input appAutofocus #nom="ngModel" class="form-control mb-3" type="text" id="nom" name="nom" required
            [(ngModel)]="FormChaussure.nom">
        <div class="alert alert-danger" [hidden]="nom.valid">Veuillez saisir le nom de la chaussure</div>
        <label id="example-radio-group-label">Marque de la chaussure</label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="FormChaussure.marque" name="marque" required #marqueValidation="ngModel">
            <mat-radio-button class="example-radio-button" *ngFor="let marque of listMarques" [value]="marque"
                [id]="marque">
                {{marque}}
            </mat-radio-button>
        </mat-radio-group>

        <div class="alert alert-danger" [hidden]="marqueValidation.valid">Veuillez saisir la marque de la
            chaussure
        </div>
        <label for="type" class="label">Type de chaussure</label>
        <select #type="ngModel" class="form-control mb-3" id="type" name="type" required
            [(ngModel)]="FormChaussure.type">
            <option [ngValue]="null">Choisissez un type de chaussure</option>
            <option *ngFor="let type of listTypes" [value]="type">{{type}}</option>
        </select>
        <div class="alert alert-danger" [hidden]="type.valid">Veuillez saisir le type de chaussure</div>
        <label for="taille" class="label">Taille de la chaussure</label>
        <input #taille="ngModel" class="form-control mb-3" type="number" min="16" max="47" step="0.5" id="taille"
            name="taille" required [(ngModel)]="FormChaussure.taille">
        <div class="alert alert-danger"
            [hidden]="taille.valid && ( FormChaussure.taille >= 16 && FormChaussure.taille <= 47)">Veuillez saisir la
            taille de la chaussure (entre 16 et
            47)</div>
        <button routerLink='/chaussures' class="btn btn-primary mt-3 ">Retourner à l'accueil</button>
        <input id="submit-button" class="btn btn-success mt-3 ml-3" type="submit"
            [disabled]="!formValidation.valid || FormChaussure.taille < 16 || FormChaussure.taille > 47 "
            value=" Créer la chaussure">

    </form>
</div>