.btn-outline-danger{
    color: red!important;
}
.btn-outline-danger:hover{
    color: white!important;
}
.btn{
    padding-left: 30px;
    padding-right: 30px;
}
.modal {
    text-align: center;
  }
@media screen and (min-width: 768px) { 
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
.modal-dialog {
    display: inline-block!important;
    text-align: left!important;
    vertical-align: middle!important;
  }