<ng-container *ngIf="!isLoading">
    <div class="container">
        <div class="row ">
            <div class="col-12 text-center mt-3" style="font-size: 22px;">
                Paires de chaussures restantes : <span style="font-weight: 560;">{{chaussures.length}}</span>
            </div>
            <div class=" col-12 text-center mt-3 mb-4">
                <img class="img-fluid border" style="background-color: black;" [src]="renard?.image"
                    alt="image de renard">
            </div>
            <app-chaussure *ngFor="let chaussure of chaussures" [chaussure]="chaussure"
                (deleteEmmiter)="onDelete($event)">
            </app-chaussure>
        </div>
    </div>

</ng-container>
<ng-container *ngIf="isLoading">
    <div style="margin-left: 50%;margin-top: 35% ;width: 3rem; height: 3rem;">
        <div class="spinner-border" role="status">
            <span class="sr-only">Chargement...</span>
        </div>
    </div>
</ng-container>